body {
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  background-color: #EEEEEE;
  color: #222222;
  cursor: default;
  padding-top: 16px;
  padding-left: 8px;

  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.pageTitle {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}
